## Deliverable 2. Create a Customer Travel Destinations Map.

In [85]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

import numpy as np

# Import API key
import sys
sys.path.append("..")
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [86]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.80,-68.30,42.80,70,40,10.29,scattered clouds
1,1,Hobart,AU,-42.88,147.33,46.40,75,75,10.29,light intensity shower rain
2,2,La Puebla De Cazalla,ES,37.22,-5.31,102.00,17,0,11.41,clear sky
3,3,Vaini,TO,-21.20,-175.20,73.40,83,75,10.29,broken clouds
4,4,Rikitea,PF,-23.12,-134.97,72.75,75,54,12.03,broken clouds

In [87]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [88]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Arraial Do Cabo,BR,-22.97,-42.03,75.20,57,40,10.29,scattered clouds
12,12,Kutum,SD,14.20,24.67,77.77,62,97,5.91,light rain
14,14,Saint George,US,37.10,-113.58,90.00,18,1,1.01,clear sky
20,20,Xuanzhou,CN,30.95,118.76,82.15,82,90,2.71,overcast clouds
21,21,Cortland,US,42.60,-76.08,80.01,65,1,14.99,clear sky
22,22,Amahai,ID,-3.33,128.92,79.00,95,43,3.71,scattered clouds
24,24,Victoria,HK,22.29,114.16,82.00,93,100,11.99,moderate rain
28,28,Albany,US,42.60,-73.97,79.00,68,58,1.99,broken clouds
31,31,Marzuq,YE,14.40,46.47,84.45,53,2,7.74,light rain
45,45,Mandalgarh,IN,25.20,75.10,82.94,74,100,6.91,overcast clouds

In [82]:
# 4a. Determine if there are any empty rows.
#preferred_cities_df.count()
preferred_cities_df.isnull

<bound method DataFrame.isnull of      City_ID                    City Country    Lat     Lng  Max Temp  \
8          8         Arraial Do Cabo      BR -22.97  -42.03     75.20
12        12                   Kutum      SD  14.20   24.67     77.77
14        14            Saint George      US  37.10 -113.58     90.00
20        20                Xuanzhou      CN  30.95  118.76     82.15
21        21                Cortland      US  42.60  -76.08     80.01
..       ...                     ...     ...    ...     ...       ...
689      689           Rabo De Peixe      PT  37.80  -25.58     75.20
693      693          Braco Do Norte      BR -28.27  -49.17     79.75
694      694                Yinchuan      CN  38.47  106.27     85.32
695      695                    Olpe      DE  51.03    7.85     75.00
696      696  Santa Maria Da Vitoria      BR -13.39  -44.19     86.90

     Humidity  Cloudiness  Wind Speed Current Description
8          57          40       10.29    scattered clouds
12         62          97        5.91          light rain
14         18           1        1.01           clear sky
20         82          90        2.71     overcast clouds
21         65           1       14.99           clear sky
..        ...         ...         ...                 ...
689        64          20       10.29          few clouds
693        34           0        2.21           clear sky
694        17          97       11.48     overcast clouds
695        58         100        4.00          light rain
696        26           0        7.67           clear sky

[269 rows x 10 columns]>

In [53]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df=preferred_cities_df.dropna() 
clean_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Arraial Do Cabo,BR,-22.97,-42.03,75.20,57,40,10.29,scattered clouds
12,12,Kutum,SD,14.20,24.67,77.77,62,97,5.91,light rain
14,14,Saint George,US,37.10,-113.58,90.00,18,1,1.01,clear sky
20,20,Xuanzhou,CN,30.95,118.76,82.15,82,90,2.71,overcast clouds
21,21,Cortland,US,42.60,-76.08,80.01,65,1,14.99,clear sky
...,...,...,...,...,...,...,...,...,...,...
689,689,Rabo De Peixe,PT,37.80,-25.58,75.20,64,20,10.29,few clouds
693,693,Braco Do Norte,BR,-28.27,-49.17,79.75,34,0,2.21,clear sky
694,694,Yinchuan,CN,38.47,106.27,85.32,17,97,11.48,overcast clouds
695,695,Olpe,DE,51.03,7.85,75.00,58,100,4.00,light rain
696,696,Santa Maria Da Vitoria,BR,-13.39,-44.19,86.90,26,0,7.67,clear sky

In [54]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Arraial Do Cabo,BR,75.20,scattered clouds,-22.97,-42.03,
12,Kutum,SD,77.77,light rain,14.20,24.67,
14,Saint George,US,90.00,clear sky,37.10,-113.58,
20,Xuanzhou,CN,82.15,overcast clouds,30.95,118.76,
21,Cortland,US,80.01,clear sky,42.60,-76.08,
22,Amahai,ID,79.00,scattered clouds,-3.33,128.92,
24,Victoria,HK,82.00,moderate rain,22.29,114.16,
28,Albany,US,79.00,broken clouds,42.60,-73.97,
31,Marzuq,YE,84.45,light rain,14.40,46.47,
45,Mandalgarh,IN,82.94,overcast clouds,25.20,75.10,

In [55]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [57]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [60]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Arraial Do Cabo,BR,75.20,scattered clouds,-22.97,-42.03,Pousada Porto Praia
12,Kutum,SD,77.77,light rain,14.20,24.67,Dibbo areaمنطقة دبو
14,Saint George,US,90.00,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
20,Xuanzhou,CN,82.15,overcast clouds,30.95,118.76,Nanfang Hotel
21,Cortland,US,80.01,clear sky,42.60,-76.08,Cortland Motel
22,Amahai,ID,79.00,scattered clouds,-3.33,128.92,Hotel isabella
24,Victoria,HK,82.00,moderate rain,22.29,114.16,Mini Hotel Central
28,Albany,US,79.00,broken clouds,42.60,-73.97,
31,Marzuq,YE,84.45,light rain,14.40,46.47,
45,Mandalgarh,IN,82.94,overcast clouds,25.20,75.10,दुर्गा टेंट हाऊस

In [80]:
# 7. Drop the rows where there is no Hotel Name.       
nan_value = float("NaN")
clean_hotel_df.replace("", nan_value, inplace=True)
clean_hotel_df.dropna(subset = ["Hotel Name"], inplace=True)

clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Arraial Do Cabo,BR,75.20,scattered clouds,-22.97,-42.03,Pousada Porto Praia
12,Kutum,SD,77.77,light rain,14.20,24.67,Dibbo areaمنطقة دبو
14,Saint George,US,90.00,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
20,Xuanzhou,CN,82.15,overcast clouds,30.95,118.76,Nanfang Hotel
21,Cortland,US,80.01,clear sky,42.60,-76.08,Cortland Motel
22,Amahai,ID,79.00,scattered clouds,-3.33,128.92,Hotel isabella
24,Victoria,HK,82.00,moderate rain,22.29,114.16,Mini Hotel Central
45,Mandalgarh,IN,82.94,overcast clouds,25.20,75.10,दुर्गा टेंट हाऊस
47,Marsh Harbour,BS,83.91,light rain,26.54,-77.06,Abaco Beach Resort
51,Bethel,US,78.01,overcast clouds,41.37,-73.41,Courtyard by Marriott Danbury

In [84]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [97]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [98]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [99]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))